<% provide :title, t("static_pages.about.title") %>
<h1><%= t "static_pages.about.title" %></h1>
<p>
  <%= t "static_pages.about.the" %><%= link_to t("rails_tutorial"),
    "http://www.railstutorial.org/" %>
  <%= t "static_pages.about.is_a" %>
  <%= link_to t("static_pages.about.book"), "http://www.railstutorial.org/book"%> <%= t "static_pages.about.and" %>
  <%= link_to t("static_pages.about.screencast"), "http://screencasts.railstutorial.org/" %>
  <%= t "static_pages.about.sentence_2" %>
  <%= link_to t("rails_tutorial"), "http://rubyonrails.org/" %>
  <%= t "static_pages.about.sentence_1" %>
</p>
