<% provide :title, t("static_pages.help.title") %>
<h1><%= t "static_pages.help.title" %></h1>
<p>
  <%= t "static_pages.help.sentence_1" %>
  <%= link_to t("static_pages.help.rails_help"), "http://www.railstutorial.org/help" %>
  <%= t "static_pages.help.sentence_2"%>
  <%= link_to "#{t("rails_tutorial")} #{t("static_pages.help.book")}",
    "http://www.railstutorial.org/book" %>
</p>
